@primary_color: #34495e;
@second_color: #2ecc71;


@font-face {
font-family: Montserrat;
src: url(fonts/Montserrat-Regular.ttf);
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* ================== Header ==================*/

/* ================== Navigation ==================*/
.navbar-default{
    background-color: @primary_color;
    border-color: @primary_color;
    
    .navbar-nav > li > a {
        text-transform: uppercase;
        color: #FFF;
        font-size: 12px;
        letter-spacing: 1px;
        transition: all 0.2s;
    }
    
    .navbar-nav > li > a:hover,
    .navbar-nav > li > a:focus{
        color: @second_color !important;
        margin-top: -5px;
    }
    
    .navbar-brand > i {
        color: #FFF;
        margin-top: -6px;
        transition: all 0.2s;
    }
    
    .navbar-brand > i:hover {
        font-size: 2.3em;
        margin-left: -2px;
        margin-top: -8px;
    }
    
    .navbar-toggle:hover,
    .navbar-toggle:focus{
        background-color: darken(@primary_color, 10%);;
    }
}

/* ================== Fin Navigation ==================*/

#info-home{
    background: url(../img/fondohome.jpeg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
    margin-top: 50px;
    color: #FFF;
    
    .overlay{
        background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.73) 17%, rgba(0,0,0,0.66) 35%, rgba(0,0,0,0.55) 62%, rgba(0,0,0,0.4) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.73)), color-stop(35%,rgba(0,0,0,0.66)), color-stop(62%,rgba(0,0,0,0.55)), color-stop(100%,rgba(0,0,0,0.4))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
        height: 700px;
        background-attachment: fixed;
    }
}



.content{
    position: relative;
    padding: 20% 60px 0;
    
    >h1{
        font-size: 3.2em;
    }
    
    >p{
        font-size: 1.2em;
        
        >span{
            color: @second_color;
        }
    }
}

/* ================== Fin Header ==================*/